<div class="col-md-4 col-md-offset-4">
  <h2>创建讨论群</h2>
  <hr>
  <%= simple_form_for @group do |f| %>

  <%= f.input :title, input_html: { class:"control-form"} %>
  <br>

  <br>
  <%= f.input :description, input_html: { class: "control-form"} %>
  <br>
  <%= f.submit "Submit", disable_with: "Submiting..."  %>
  <% end %>
</div>
